node_modules
.next
dist
.turbo
coverage
*.log
.env
.env.local
.env.*.local
.DS_Store

# Build artifacts
*.tsbuildinfo
**/tests/**/*.js
**/tests/**/*.js.map
**/tests/**/*.d.ts

# Tooling
pnpm-debug.log
.pnpm-store/

# Editors
.idea/
.vscode/
*.swp

# OS
Thumbs.db
